h2{
    font-size: 30px;
}
p{
    font-size: 17px;
    font-weight: 100
}
main{
    display: flex;
    justify-content: center;
}
.conteudo-principal{
    display: flex;
    width: 1440px;
}
.conteudo-principal .lista-imagens{
    display: flex;
    padding: 129px 20px;
}

.conteudo-principal .lista-imagens .item-lista{
    display: flex;
    align-items: end;
    padding-right: 20px;
}

.conteudo-principal .lista-imagens .info-imagens{
    position: absolute;
    padding-bottom: 43px;
    padding-left: 20px;
}
