h2{
    font-size: 30px;
    margin-bottom: 8px;
}
p{
    font-size: 17px;
    font-weight: 100
}
main{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.conteudo-principal .lista-imagens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.conteudo-principal .lista-imagens .item-lista img{
    width: 100%;
}
.conteudo-principal .lista-imagens .item-lista{
    position: relative;
    width: 335px;
    height: 431px;
}
.conteudo-principal .lista-imagens .info-imagens{
    position: absolute;
    bottom: 40px;
    left: 20px;
}
